:root {
  --theme: #3b3b3b;
}

html {
  border: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

body {
  margin: auto;
  width: 100vw;
  font-size: 12px;
  overflow: hidden;
  max-width: 1280px;
  max-height: 800px;
  user-select: none;
  scrollbar-width: none;
  height: calc(100vh - 2px);
  font-family: arial, sans-serif;
  border: solid 1px rgba(255, 255, 255, 0.15);
}

table {
  border-spacing: 0;
  max-width: 1280px;
  width: calc(100% - 100px);
}

table tr td {
  min-width: 256px;
  text-align: center;
}

input[type='radio'] {
  margin: 0;
  margin-top: -1px;
  margin-right: 5px;
  vertical-align: middle;
}

input[type='color'] {
  border: 0;
  margin: 0;
  width: 58px;
  height: 36px;
  padding: 1px;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #ddbd06;
}

input[type='color']::-moz-color-swatch {border: none}
input[type='color']::-webkit-color-swatch {border: none}
input[type='color']::-moz-color-swatch-wrapper {padding: 0}
input[type='color']::-webkit-color-swatch-wrapper {padding: 0}

input[type='text'] {
  border: 0;
  width: 277px;
  height: 22px;
  padding: 10px;
  outline: none;
  color: #3b3b3b;
  font-size: 12px;
  margin: 5px 0 0 0;
  line-height: 22px;
  background-color: #fff;
  font-family: monospace;
}

input[type='search'] {
  padding: 0;
  color: #fff;
  width: 220px;
  height: 48px;
  border: none;
  outline: none;
  padding-left: 58px;
  position: relative;
  transition: 300ms ease all;
  background-color: var(--theme);
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  width: 58px;
  height: 42px;
  outline: none;
  cursor: pointer;
  line-height: 42px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  transition: 300ms ease all;
  background-color: rgba(0,0,0,0.3);
}

button svg {
  fill: #fff;
  pointer-events: none;
  vertical-align: middle;
}

button:hover {
  background-color: #232323;
}

html[context="popup"] .homepage.expand {
  max-height: 500px;
}

html[context="popup"] .homepage table,
html[context="popup"] .homepage .forecast,
html[context="popup"] .homepage .page-title {
  margin-bottom: 0;
}

html[context="popup"] .page-title {
  padding: 10px;
}

html[context="popup"] .hourly-wrapper .hourly-item > span {
  margin-bottom: 5px;
}

html[context="webapp"] .toolbar .navigation li[nowebapp] {
  display: none;
}