.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--theme);
  border-bottom: solid 1px #ddbd06;
}

.toolbar > span[class^="icon"] {
  border: 0;
  padding: 0;
  width: 48px;
  color: #eee;
  height: 48px;
  display: flex;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  align-items: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}
